body {background: #AAB9FF ;
background: linear-gradient(90deg, rgba(170, 185, 255, 1) 0%, rgba(228, 228, 228, 1) 50%, rgba(231, 195, 210, 1) 100%);
    font-family: 'Open Sans', sans-serif;
    padding: 3%;
}